html,
body {
  height: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  background-color: #d0d0d0;
}
#navigation-bar {
  width: 100%;
  height: 60px;
}
#navigation-bar .place-holder {
  z-index: 5;
  position: fixed;
  width: 100%;
  min-width: 1000px;
  height: 60px;
  background-color: #787878;
  opacity: 0.33;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
#navigation-bar .place-holder:hover {
  opacity: 0.92;
}
#navigation-bar .place-holder .col {
  float: left;
  display: block;
  width: 20%;
  height: 100%;
  cursor: pointer;
}
#navigation-bar .place-holder .col .child {
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#navigation-bar .place-holder .col .child .grand-child {
  height: 43px;
  margin-top: 9px;
  border-right: 1.5px solid #aeaeae;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font: 23px/42px "黑体", "宋体", sans-serif;
}
#navigation-bar .place-holder .col .child .grand-child.last {
  border-right: 0px;
}
#navigation-bar .place-holder .col .child:hover {
  background-color: #585757;
}
#room-list-area {
  margin: 22px auto;
}
@media screen and (max-width: 1200px) {
  #room-list-area {
    width: 85%;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1200px) {
  #room-list-area {
    width: 75%;
  }
}
@media screen and (max-width: 2000px) and (min-width: 1500px) {
  #room-list-area {
    width: 65%;
  }
}
@media screen and (min-width: 2000px) {
  #room-list-area {
    width: 55%;
  }
}
#room-list-area .row {
  width: 100%;
  height: 240px;
}
#room-list-area .row .col {
  float: left;
  display: block;
  width: 25%;
  height: 100%;
  color: #000;
  background-color: #fffcf3;
}
#room-list-area .row .col:hover {
  background-color: #f8f9ad;
}
#room-list-area .row .col .border-div {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid #d0d0d0;
}
#room-list-area .row .col .border-div .room-info {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}
#room-list-area .row .col .border-div .room-info ul {
  list-style: none;
  margin: 0;
  padding: 1px;
}
#room-list-area .row .col .border-div .room-info ul li {
  padding: 2px;
  font: 17px "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
#room-list-area .row .col .border-div .room-info ul li span {
  font-weight: bold;
}
#room-list-area .pages {
  width: 100%;
  height: 60px;
  margin: 30px 0 100px 0;
  background-color: #fffcf3;
}
#room-list-area .pages a {
  text-decoration: none;
  color: #000;
  font: 18px "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  display: inline-block;
}
#room-list-area .pages .prep-page {
  float: left;
  width: calc(50% - 200px);
  height: 100%;
}
#room-list-area .pages .prep-page a {
  float: right;
  margin: 17px 20px 0 0;
}
#room-list-area .pages .all-pages {
  float: left;
  width: 400px;
  height: 100%;
}
#room-list-area .pages .all-pages ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
#room-list-area .pages .all-pages ul li {
  display: inline-block;
  text-align: center;
  width: 25px;
}
#room-list-area .pages .next-page {
  float: left;
  width: calc(50% - 200px);
  height: 100%;
}
#room-list-area .pages .next-page a {
  margin: 17px 0 0 20px;
}
/*
	@media screen and (min-width: 1000px){}
*/
