@min-width: 1000px;
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #b8b8b0;
}

#main-content{
	margin: 25px 20px;
	margin-bottom: 0;
	height: 84%;
	min-height: 500px;
	min-width: 980px;
	.left{
		float: left;
		display: table;		//用于同一列，高度自适应填充
		width: 230px;
		height: 100%;
		background-color: #A4A4A4;
		margin-right: 15px;
		.top-info-holder{
			display: table-row;		//用于同一列，高度自适应填充
			.room-info{
				padding: 4px;
				ul{
					list-style: none;
					margin: 0;
					padding: 1px;
					li{
						word-break:break-all;
						padding: 2px;
						font: 17px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
						span{
							font-weight: bold;
						}
					}
				}
			}
			.members{
				h3{
					font: bold 17px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
					margin: 0 2px 3px 7px;
				}
				ul{
					overflow: auto;
					border: 2px solid #616161;
					height: 90px;
					margin: 0 13px;
					padding: 0;
					list-style: none;
					background-color: #FDFCF8;
					li{
						position: relative;
						white-space:nowrap;
						overflow: hidden;
						margin: 1px 0;
						width: 100%;
						height: 21px;
						img{
							position: absolute;
							top: 3px;
							left: 4px;
							width: 15px;
						}
						span{
							margin-left: 23px;
						}
					}
				}
			}
		}
		.down-chatting-holder{
			display: table-row;		//用于同一列，高度自适应填充
			height: 100%;
			.chatting{
				display: none;		//先暂时隐藏，加载数据后再用js控制显示，避免跳动
				position: relative;
				height: 100%;
				h3{
					float: left;
					margin: 10px 0 0 7px;
					font: bold 17px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
				}
				#message-area{
					position: absolute;
					overflow: auto;
					border: 2px solid #616161;
					top: 37px;
					bottom: 65px;
					width: 200px;
					margin-left: 13px;
					background-color: #FDFCF8;
					ul{
						list-style: none;
						margin: 0;
						padding: 2px;
						word-break:break-all;
						li{
							margin-bottom: 1px;
						}
						li.message{
							font: 13px "Arial","Microsoft YaHei","宋体",sans-serif;
							span{
								color: #0004E9;
								&.me{
									color: #A508D9;
								}
							}
							p{
								display: inline;
								line-height: 14px;
								margin: 0;
							}
						}
						li.join, li.leave{
							font: 12px "Arial","Microsoft YaHei","宋体",sans-serif;
							span{
								font-style: italic;
								color: #616161;
							}
							p{
								display: inline;
								color: #7F7F7F;
								margin: 0 0 0 5px;
							}
						}
					}
				}
				#write-message{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 52px;
					textarea{
						width: 160px;
						height: 36px;
						margin: 0 0 0 13px;
						font: 13px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
					}
					button{
						float: right;
						cursor: pointer;
						width: 32px;
						height: 42px;
						margin-right: 13px;
						font: bold 14px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
						line-height: 16px;
					}
				}
			}
		}
	}
	.center{
		// width: 78%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		cursor: crosshair;
	}

	.palette{
		float: right;
		height: 100%;
		width: 115px;
		background-color: #A4A4A4;
		padding-left: 5px;
		margin-left: 15px;
		h3{
			margin: 10px 0 0 0;
		}
		h4{
			font: 18px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
			margin: 0 0 0 7px;
		}
		.all-colors{
			h4{
				margin-top: 10px;
				margin-bottom: 0;
				width: 80%;
			}
			.colors{
				overflow: hidden;
				border-spacing: 15px;
				tr{
					td{
						width: 30px;
						height: 30px;
						cursor: pointer;
					}
				}
			}
		}
		.current-color{
			overflow: hidden;
			h4{
				margin-top: 10px;
			}
			div{
				float: left;
				margin: 6px 0 15px 15px;
				width: 80px;
				height: 28px;
				p{
					width: 55px;
					margin: 3px auto;
					font: bold 17px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
				}
			}
		}
		.line-weight, .eraser{
			overflow: hidden;
			margin-bottom: 8px;
			h4{
				margin-top: 10px;
			}
			.options{
				float: left;
				width: 100%;
				margin: 4px 0 0 5px;
				div{
					display: inline-block;
					text-align: center;
					cursor: pointer;
					width: 25px;
					margin: 0 2px;
					font: 18px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
					&.active{
						border: 2px solid #000;
					}
				}
			}
		}

	}
}


//公共背景颜色
.black{
	background-color: #000000;
}
.red{
	background-color: #ff0000;
}
.blue{
	background-color: #0000ff;
}
.green{
	background-color: #00ff00;
}
.yellow{
	background-color: #ffff00;
}
.purple{
	background-color: #ff00ff;
}
.orange{
	background-color: #ff9900;
}
.white{
	background-color: #ffffff;
}


/*
	@media screen and (min-width: 1000px){}
*/