@min-width: 1000px;

@top-bar-height: 70px;
#top-bar{
	position: relative;		//要让z-index起效一定要设置
	z-index: 10;
	width: 100%;
	height: @top-bar-height;
	.place-holder{
		position: fixed;
		width: 100%;
		min-width: @min-width;
		height: @top-bar-height;
		background-color: #353536;
		.left{
			float: left;
			width: 400px;
			height: @top-bar-height;
			// background-color: #66ccff;
			a{
				display: inline-block;
				margin: 15px 0 0 100px;
				font: 30px "黑体","宋体",sans-serif;
				color: #fff;
				text-decoration: none;
				&:visited{
					color: #fff;
				}
			}
		}
		.medium{
			float: left;
			width: 300px;
			height: @top-bar-height;
			h3{
				display: none;
				margin: 19px 0 0 100px;
				font: 25px "黑体","宋体",sans-serif;
				color: #fff;
				cursor: pointer;
				a{
					text-decoration: none;
					color: #fff;
				}
			}
		}
		.right{
			float: right;
			width: 270px;
			height: @top-bar-height;
			.img-holder{
				float: left;
				width: 33px;
				line-height: 70px;
				img{
					width: 100%;
					vertical-align: middle;
				}
			}
			h3{
				display: inline-block;
				font: 23px "黑体","宋体",sans-serif;
				//margin: 26px 35px 0 0;
				margin: 20px 0 0 10px;
				color: #fff;
				cursor: pointer;
			}
			.hidden_first{
				display: none;
				width: 100px;
				padding-top: 10px;
				margin-left: 55px;

				.triangle{
					width: 0;
					height: 0;
					margin-left: 35px;
					border-bottom: 13px solid #FFF;
					border-right: 13px solid transparent;
					border-left: 13px solid transparent;
				}
				.user_list{
					color: #2e2e2e;
					background-color: #FFF;
					cursor: pointer;
					div{
						width: 76%;
						height: 40px;	
						margin-left: 12%;
						text-align: center;
						color: #2e2e2e;
						font: 17px/40px "黑体","宋体",sans-serif;
						border-bottom: 1px solid #BDBDBD;
						a{
							color: #2e2e2e;
							text-decoration: none;
							&:hover{
								color: #9E9E9E;
							}
						}
						&.quit{
							border: 0px;
						}
						&:hover{
							color: #9E9E9E;
						}
					}
				}
			}
		}
	}
}

#roomModal{
	.modal-dialog{
		width: 500px;
		.modal-content{
			width: 500px;

			.closeModal{
				width: 100%;
				height: 23px;
				img{
					float: right;
					cursor: pointer;
					width: 17px;
					margin: 10px 10px 0 0;
				}
			}
			.input-line{
				margin: 22px 0 0 0;
				width: 100%;
				.label{
					display: inline-block;
					margin-left: 30px;
					font: 17px "黑体","宋体","Arial","Microsoft YaHei", sans-serif;
					&.textarea{
						vertical-align: top;
					}
				}
				input{
					width: 65%;
					height: 28px;
					margin-left: 8px;
					padding-left: 10px;
					font: 16px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
					color: #848484;
					background-color: #F8F8F8;
					border: 1px solid #BDBDBD;
					border-radius: 5px;
				}
				.kinds{
					display: inline-block;
					margin-left: 21px;
					span{
						font: 17px "黑体","宋体","Arial","Microsoft YaHei", sans-serif;
						background-color: #EBEBEB;
						padding: 5px 8px;
						margin: 0 4px;
						border-radius: 10px;
						cursor: pointer;
						&.active{
							background-color: #ACABAB;
						}
					}
				}
				textarea{
					margin-left: 24px;
					padding: 4px;
					width: 65%;
					height: 80px;
					font: 16px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
				}

			}
			.error{
				width: 84%;
				height: 30px;
				padding-left: 96px;
				color: #ff5757;
				span{
					font: 17px "Microsoft YaHei","黑体","宋体",sans-serif;
				}
			}
			.submit-holder{
				width: 30%;
				margin: 0 0 20px 35%;
				cursor: pointer;
				.main-submit{
					width: 100%;
				}
			}
		}	
	}
}


/*
	@media screen and (min-width: 1000px){}
*/